
#footer {
    // background: #fafafa;
    border-top: 0;
    color: #c0130d;
    overflow: hidden;
    padding: 1em 0 1em 0;
    align-items: center;
}

    #footer .copyright {
        line-height: 1em;
        list-style: none;
        padding: 0;
        margin-bottom: 10px;
    }

        #footer .copyright li {
            border-left: solid 1px #d4d4d4;
            display: inline-block;
            font-size: 0.8em;
            margin-left: 1em;
            padding-left: 1em;
        }

            #footer .copyright li:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }

            #footer .copyright li a {
                color: inherit;
            }