<script defer language="javascript" type="text/javascript"  src="{{ "/js/myscripts.js" | urlize | relURL }}"></script>

<footer class="site-footer">
    <section id="footer">
        <div class="container">
            <ul class="copyright">
                <li>© Onur Kirman.</li>
                <li>
                    <a class="typewrite" data-period="850" data-type="[&quot;❤&quot;]"><span class="wrap"></span></a>
                </li>
            </ul>
            <p class="powered-by">
                <a href="" class="typewrite" data-period="2000" data-type='[ "All rights reserved.              ❤" ]'>
                    <span class="wrap"></span>
                </a>
            </p>
        </div>
    </section>
    
</footer>

