<script defer language="javascript" type="text/javascript"  src="{{ "/js/myscripts.js" | urlize | relURL }}"></script>

<footer class="site-footer" style="margin-top: 0px;">
    <section id="footer">
        <ul class="copyright">
            <li>© Onur Kirman.</li>
            <li>
                <a class="typewrite" data-period="2000" data-type='[ "All rights reserved.         " ]'>
                    <span class="wrap"></span>
                </a>
            </li>
        </ul>
    </section>
    
</footer>

